.navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-secondary {
    color: #ff0000 !important; /* устанавливаем серый цвет текста для второй ссылки */
    font-weight: bold; /* задаем жирное начертание */
}